/* .card {
  background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25)) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  background-image: url(https://th.bing.com/th/id/R.d677631424589127931af86bbe5d6f5d?rik=lJuBk5mMZPTCbQ&pid=ImgRaw&r=0);
  background-repeat: no-repeat;
  background-size: cover;
}
.transparent{
  background: transparent !important;  
} */